<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.eventracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.admin.eventracker.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.admin.eventracker.ProfileActivity"
            android:parentActivityName="com.example.admin.eventracker.ProfileActivity"/>
        <activity android:name="com.example.admin.eventracker.LoginActivity" />
        <activity
            android:name="com.example.admin.eventracker.addEvent"
            android:parentActivityName="com.example.admin.eventracker.EventsToday"/>
        <activity
            android:name="com.example.admin.eventracker.EventsToday"
            android:parentActivityName="com.example.admin.eventracker.ProfileActivity" />
        <activity android:name="com.example.admin.eventracker.EditEvent"
            android:parentActivityName="com.example.admin.eventracker.EditEvent"/>
        <activity
            android:name="com.example.admin.eventracker.EmailFeedBack"
            android:parentActivityName="com.example.admin.eventracker.ProfileActivity" />
        <activity
            android:name="com.example.admin.eventracker.GroupList"
            android:parentActivityName="com.example.admin.eventracker.ProfileActivity" />
        <activity
            android:name="com.example.admin.eventracker.groupCalendar"
            android:parentActivityName="com.example.admin.eventracker.GroupList" />
        <activity
            android:name="com.example.admin.eventracker.addGroup"
            android:parentActivityName="com.example.admin.eventracker.GroupList" />
        <activity
            android:name="com.example.admin.eventracker.FindUsers"
            android:parentActivityName="com.example.admin.eventracker.FriendList" />
        <activity
            android:name="com.example.admin.eventracker.UserInfo"
            android:parentActivityName="com.example.admin.eventracker.FindUsers" />
        <activity
            android:name="com.example.admin.eventracker.RequestList"
            android:parentActivityName="com.example.admin.eventracker.ProfileActivity" />
        <activity
            android:name="com.example.admin.eventracker.EventsTodayGroup"
            android:parentActivityName="com.example.admin.eventracker.groupCalendar" />
        <activity android:name="com.example.admin.eventracker.groupDetails" />
        <activity android:name="com.example.admin.eventracker.MemberViewHolder" />
        <activity
            android:name="com.example.admin.eventracker.FriendList"
            android:parentActivityName="com.example.admin.eventracker.ProfileActivity" />
        <activity
            android:name="com.example.admin.eventracker.setName"
            android:parentActivityName="com.example.admin.eventracker.addEventGroup"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.example.admin.eventracker.checkMemberViewHolder" />
        <activity
            android:name="com.example.admin.eventracker.Notifications"
            android:parentActivityName="com.example.admin.eventracker.ProfileActivity" />
        <activity android:name="com.example.admin.eventracker.addEventGroup" />
        <activity android:name="com.example.admin.eventracker.editGroup" />
        <activity android:name="com.example.admin.eventracker.chooseNewLeader" />
        <activity android:name="com.example.admin.eventracker.addGroupMembers" />
        <activity android:name="com.example.admin.eventracker.GroupDetailsLeader_"></activity>
    </application>

</manifest>